<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WotPogsIconSet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PogsIcons.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <WotPogsIconSet.Properties.Settings>
            <setting name="itemDefLocation" serializeAs="String">
                <value>D:\Repositories\wot.icons2\WoT.PogsIconSet\src\item_defs 0.9.15.1.1</value>
            </setting>
            <setting name="gameVersion" serializeAs="String">
                <value>0.9.15.1.1</value>
            </setting>
            <setting name="outputLocation" serializeAs="String">
                <value>D:\Repositories\wot.icons2\output</value>
            </setting>
            <setting name="srcLocation" serializeAs="String">
                <value>D:\Repositories\wot.icons2\WoT.PogsIconSet\src</value>
            </setting>
        </WotPogsIconSet.Properties.Settings>
        <PogsIcons.Properties.Settings>
            <setting name="itemDefLocation" serializeAs="String">
                <value>D:\Repositories\wot.icons\phobos.scripts\src\item_defs 0.9.12 #22</value>
            </setting>
            <setting name="gameVersion" serializeAs="String">
                <value>0.9.12</value>
            </setting>
            <setting name="outputLocation" serializeAs="String">
                <value>D:\Repositories\wot.icons2\output</value>
            </setting>
            <setting name="contourLocation" serializeAs="String">
                <value>D:\Repositories\wot.icons\phobos.scripts\contour</value>
            </setting>
            <setting name="imagesLocation" serializeAs="String">
                <value>D:\Repositories\wot.icons2\WoT.PogsIconSet\images</value>
            </setting>
        </PogsIcons.Properties.Settings>
    </applicationSettings>
</configuration>